pong/build/*
pong/ebin/*.beam
pong/logs/*

*/build/
pong/xcode.project/
LEDsimulator/xcode.project/

*/.DS_Store
*/*.swp
*/*~.nib

*/*.pbxuser
*/*.perspective
*/*.perspectivev3

*/*.mode1v3
*/*.mode2v3
